<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="first-back">
    <div class="first-back-text">
      <p>DYNAMIC APPROACH <br> TO BRAND PROMOTION <br>& ONLINE MARKETING</p>
    </div>
  </div>

  <div class="second-back">
    <div class="second-back-img">
    </div>
    <div class="second-back-text">
      <h2>BECOME AN</h2>
      <h2>INFLUENCER</h2>

      <ul type="number">
        <li>What is your name?</li>
        <li>Which State and Country do you currently reside in? </li>
        <li>What is your twitter handle? </li>
        <li>What is your current follower count?
        </li>
      </ul>
      <a routerLink="../become-an-influencer"> <input type="submit" class="btn btn-primary" value="REGISTER" 
          style="background-color: orange;" />
      </a>
    </div>
  </div>
  <div class="third-back">
    <span></span>
    <div class="third-back-img"></div>
    <div class="third-back-container">
      <h2 style="color: white; padding-left: 4em; padding-top: 3em;" >HIRE US!</h2>
      <div class="third-back-text">
        <ul>
          <li>What is your company / agency / artist name? </li>
          <li>Do you have a website? Please provide URL: </li>
          <li>Please describe what you would like to promote and market? </li>
          <li>Please provide an estimate of your marketing budget? </li>
          <li>Please provide your contact information: </li>
        </ul>
        <a routerLink="../hire-us"> <input type="button" class="btn btn-primary" value="CLICK HERE" rou
          style="background-color: orange;" />
      </a>
      </div>
    </div>
  </div>



  <div class="footer">
    <p class="mmALogo"></p>
    <div class="content1">
      
    </div>
    <div>
      <a href="" ><span class="content2">  </span></a>
    </div>
    <div class="content3">
      <span>CONTACT US</span>
    </div>
    <div class="content4">
      +2348165262928 <br> themmabrand@gmail.com <br> 11 Address Street, Location, Place.
    </div>
    <div>
      <a href="" class="content5">SERVICE</a>
    </div>
    <div class="content6">
      <a href="" class="fAbout">About</a><br>
      <a href="" class="register">Register as an Influencer</a><br>
      <a href="" class="hire-us">Hire Us</a><br>
      <a href="" class="faq">FAQs</a>
    </div>
    <div>
      <a href="" class="content4">INFORMATION</a>
    </div>
    <div class="content6">
      <a href="" class="fAbout">Ask a Question</a><br>
      <a href="" class="register">Work with us</a><br>
      <a href="" class="hire-us">Privacy Policy</a><br>
      <a href="" class="faq">Terms & Conditions</a>
    </div>
  </div>
</body>

</html>