<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div>
    <div class="influencer-bg">
      <p class="form-title">Register here</p>
      <div class="l-content">
        <p class="become-an-influencer">BECOME AN INFLUENCER</p>
        <p class="become-an-influencer-note">
          Earn money for posting and retweeting prepared content. Put ur follower count to use.
        </p>
      </div>
      <div class="r-content">
        <div class="form">
          
          <form action="">
            <label for="fullame" class="fullname" id="fullName">Full Name</label>
            <br>
            <input type="text" class="name-input" placeholder="Full Name" id="full_name" required /><br><br>
            <label for="fullame" class="fullname">Email</label>
            <br>
            <input type="email" class="name-input" placeholder="Email" id="email" required/><br>
            <input type="submit" value="CONTINUE" class="submit-btn" (click)='callfun1()'>
          </form>
        </div> 
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="mmALogo"></p>
    <div class="content1">
      
    </div>
    <div>
      <a href="" ><span class="content2">  </span></a>
    </div>
    <div class="content3">
      <span>CONTACT US</span>
    </div>
    <div class="content4">
      +2348165262928 <br> themmabrand@gmail.com <br> 11 Address Street, Location, Place.
    </div>
    <div>
      <a href="" class="content5">SERVICE</a>
    </div>
    <div class="content6">
      <a href="" class="fAbout">About</a><br>
      <a href="" class="register">Register as an Influencer</a><br>
      <a href="" class="hire-us">Hire Us</a><br>
      <a href="" class="faq">FAQs</a>
    </div>
    <div>
      <a href="" class="content4">INFORMATION</a>
    </div>
    <div class="content6">
      <a href="" class="fAbout">Ask a Question</a><br>
      <a href="" class="register">Work with us</a><br>
      <a href="" class="hire-us">Privacy Policy</a><br>
      <a href="" class="faq">Terms & Conditions</a>
    </div>
  </div>
</body>

</html>