<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body >
  <div class="hire-us-bg">
  <div class="hire-us-center">
    <p class="h1">HIRE US</p>
    <p class="hire-us-text">To hire our services, kindly fill the form below with the appropriate details where
      applicable.</p>
    <form action="" method="POST">
      <div class="button">
        <div class="l-form">
          <div>
            <label for="brand-name" class="hire-us-label">Brand Name</label><br>
            <input type="text" placeholder="Brand Name" class="hire-us-input">
          </div>
          <div>
            <label for="brand-name" class="hire-us-label">Brand Type</label><br>
            <input type="text" placeholder="Brand Type" class="hire-us-input" id="brand_type">
          </div>
          <div>
            <label for="brand-name" class="hire-us-label">Email</label><br>
            <input type="text" placeholder="Email" class="hire-us-input" id="Email">
          </div>
          <div>
            <label for="brand-name" class="hire-us-label">Select a Service Type</label><br>
            <input type="text" placeholder="Service Type" class="hire-us-input" id="service_type" >
          </div>
        </div>
        <div class="r-form">
          <div>
            <label for="brand-name" class="hire-us-label">Empty Space</label><br>
            <input type="text" placeholder="Empty Space" class="hire-us-input" id="empty_space">
          </div>
          <div>
            <label for="brand-name" class="hire-us-label">Empty Space </label><br>
            <input type="text" placeholder="Empty Space" class="hire-us-input" id="">
            <label for="brand-name" class="hire-us-label">Write a short description of.... </label><br>
            <textarea name="description" id="description" cols="45" rows="6" placeholder="Description"></textarea>
          </div>
        </div>
        <input type="submit" class="submitBtn" value="CONTINUE" id="myBtn" (click)='callfun2()'>
      </div>
    </form>
  </div>
</div>
<div class="footer">
  <p class="mmALogo"></p>
  <div class="content1">
    
  </div>
  <div>
    <a href="" ><span class="content2">  </span></a>
  </div>
  <div class="content3">
    <span>CONTACT US</span>
  </div>
  <div class="content4">
    +2348165262928 <br> themmabrand@gmail.com <br> 11 Address Street, Location, Place.
  </div>
  <div>
    <a href="" class="content5">SERVICE</a>
  </div>
  <div class="content6">
    <a href="" class="fAbout">About</a><br>
    <a href="" class="register">Register as an Influencer</a><br>
    <a href="" class="hire-us">Hire Us</a><br>
    <a href="" class="faq">FAQs</a>
  </div>
  <div>
    <a href="" class="content4">INFORMATION</a>
  </div>
  <div class="content6">
    <a href="" class="fAbout">Ask a Question</a><br>
    <a href="" class="register">Work with us</a><br>
    <a href="" class="hire-us">Privacy Policy</a><br>
    <a href="" class="faq">Terms & Conditions</a>
  </div>
</div>

</body>

</html>